/* SHFB overrides */
.table { border: none !important; }
.pageHeader { height: 3.5rem; background-color: #333333; padding-top: 4px; }
.sticky { position: sticky; top: 0px; }
.toc-menu { line-height: 2em; }
.toc-menu a { color: dodgerblue; }
.toc-menu a.is-active { font-weight: bold; }
.quickLink { line-height: .75; }



/* Grass.Play */
.game-datetime { font-size: small; }
.player-totals { margin-bottom: 0px; font-size: larger; }
.hassle-history { font-size: smaller; margin: 0px !important; color: darkgray; }
.negative-value { color: red; }
.player-current { font-style: italic; font-weight: bold; }
.score-card .align-right { text-align: right; }
.table .game-card { text-align: center; padding: 3px; width: 123px; height: 172px; } /* 70% of actual image size */
.table .play-card { text-align: center; padding: 3px; width: 123px; height: 172px; } /* 70% of actual image size */
.play-card > img:hover { transform: scale(1.04); }

.fixedheader { padding-bottom: 5px; }   /* used in place of px-4 on main.top-row and article in MainLayout.razor */