## https://git-scm.com/docs/gitignore/
## https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
.vscode
mainsite/familytree/*.txt
mainsite/reddwarf/scripts
tools/*.txt
tech/Test*.html

# Bulma v1.0.0 (v0.9.3 used by shfb but v1.0.0 does work)
css/bulma/v093
**/css/**/bulma.css.map

# Font Awesome Free (v6.1.1 used by shfb but v6.5.2 doesn't work)
css/font-awesome/v652
**/webfonts/*.ttf
**/webfonts/fa-brands*
**/webfonts/fa-regular*
**/webfonts/fa-v4*

# Sandcastle Help File Builder
nuget/webfonts/
shfb/webfonts/
score/webfonts/
**/css/ja-*
**/css/ko-*
**/css/zh-*