@import "./bulma.min.css";
@import "./font-awesome.min.css";
@import "./vs.min.css";
@import "./presentationStyle.css";

.last-updated { font-size: smaller; font-style: italic; margin-right: 6px; }
.article-item { line-height: .75; }
.table td.thin { padding-top: 0em; padding-bottom: 0em; }
.codeHeader { background-color: #87CEFA; }
.card-header{ background-color: #00008B; }