@import "../css/site.css";

.center { display: block; margin-left: auto; margin-right: auto; }
.comment { border: 1pt solid; padding: 6pt; min-width: 80pt; }
.comment-text {color: yellow; font-weight: bolder;}
.smaller { font-size: smaller; }

small { color: #FFFFFF; font-size: 10pt; }

.transparent-background { background-color: hsla(0, 0%, 4%, 0.0); }
