@import "../css/site.css";

.comment { border: 1pt solid; padding: 6pt; min-width: 80pt; }
.comment-text {color: yellow; font-weight: bolder;}
.center { display: block; margin-left: auto; margin-right: auto; }
.smaller { font-size: smaller; margin-left: 5pt; }

.transparent-background { background-color: hsla(0, 0%, 4%, 0.0); }

P {
  color: #FFFFFF;
  font-family: Arial, Verdana, Helvetica, sans-serif;
}
P.alt {
  color: #FFFFFF;
  font-family: Comic Sans MS, Verdana, Arial, Helv;
  font-size: 12pt;
}
TD {
  color: #FFFFFF;
  font-family: Verdana, Arial;
}
TD.banner {
  color: #C0C0C0;
  font-family: Arial, helv;
  font-size: 8pt;
  font-style: italic;
}
TD.outline {
  border-color: #808000;
}
H1 {
  color: #FFFF00;
  font-family: Arial;
  font-size: 12pt;
  font-weight: bold;
}
H2 {
  font-family: Verdana, Arial;
  font-size: 10pt;
  font-weight: bold;
}
SMALL {
  color: #FFFFFF;
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal
}
UL.small {
  font-size: 10pt;
}
HR {
  color: #808000;
}
